{{> templates/partials/head.html}}
<h1 class="page-title">{{site.title}}</h1>
<section class="api-section" id="packages">
  <div class="section-heading"><span>Packages</span><span>{{site.package_count}} total</span></div>
  <div class="package-grid">
    {{#each packages}}
    <a class="package-entry" href="{{href}}">
      <span class="package-name">{{name}}</span>
      <span class="package-version">{{version}}</span>
      <span class="package-module"><code>{{root_module}}</code></span>
    </a>
    {{/each}}
  </div>
</section>
{{> templates/partials/foot.html}}
